*{
    margin: 0;
    padding: 0;
    font-size: 25px;

}

.container{
    width : auto;
    height: auto;
}

header{
    height: 120px;
    display: flex;
    background-color: orange;
    border: 2px solid black;
    font-family: 'verdana';
    align-items: center;

}

nav{
    height: 50px;
    display: flex;   
    background-color : maroon ;
    border: 2px solid black;
    align-items: center;
    justify-content: center;
    font-family: 'Arial';
    color:white;
}
.body{
    display: flex;
    height: auto;
    width: auto;
}
.maincontent{
    height: 545px;
    width: 75%;   
    background-color : grey;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Tahoma';
    word-spacing: 10px;
}
.contentberita{
    height: 545px;
    width: 25%;
    display: flex;
    background-color: green;
    border: 2px solid black;
    align-items: center;
    justify-content: center;
    font-family: 'Comic Sans MS';
}
footer{
    height: 40px;
    display: flex;
    background-color:rgb(73, 72, 72);
    border : 2px solid black;
    align-items: center;
    justify-content: center;
    font-family: 'Blood Demon';
    padding: 10px;
    color:black;   
}